
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  text-align:center;
}

.center {
         width: 800px;
         height: 220px;
         /* width: 80%;
         height: 10%; */
         margin-left:auto;
         margin-right:auto;
}

.mapid {
         width: 800px;
         height: 500px;
         /* width: 80%;
         height: 40%; */
         margin-left:auto;
         margin-right:auto;
}
